.contents-body-outer {
    width: 100%;  
    height: 900px; 

    /* border: 1px solid black; */
}

.contents-body-upper {
    width: 100%;
    height: 20%;

    display: flex;

    /* border: 1px solid black; */
}
.contents-body-imgrarity {
    width: 30%;
    height: 100%;
}
.contents-body-imgrarity-img {
    width: 150px;
    height: 150px;

    border-radius: 10px;
}
.contents-body-imgrarity-rarityimg {
    width: 75px;
    height: 20px;
}

.contents-body-name {
    width: 70%;
    height: 100%;

    margin-top: 40px;

    font-family: 'GIfont';
    font-size: xx-large;
    font-weight: bolder;
}
.contents-body-imgrarity-elementimg {
    width: 80px;
    height: 80px;
}

.contents-body-middle {
    width: 100%;
    height: 40%;

    display: flex;

    /* border: 1px solid black; */
}
.contents-body-nataff {
    width: 30%;
    height: 100%;

    font-family: 'GIfont';
    font-size: large;
    font-weight: 500;
}
.contents-body-nation {
    width: 100%;
    height: 40%;
}
.contents-body-imgrarity-nationimg {
    width: 130px;
    height: 130px;
}

.contents-body-affiliation {
    width: 100%;
    height: 40%;
}
.contents-body-birthday {
    width: 100%;
    height: 20%;
}

.contents-body-desbir {
    width: 70%;
    height: 100%;

    font-family: 'GIfont';
    font-size: large;
    font-weight: 500;
}
.contents-body-description {
    width: 100%;

    text-align: center;
    padding: 30px 0;
}

.contents-body-lower {
    width: 100%;
    height: 40%;

    display: inline-flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.contents-body-skill {
    width: 100%;
    height: 33.3%;

    font-family: 'GIfont';
    font-size: medium;
    font-weight: 500;

    
    border: 1px solid black;
}
.contents-body-skill1 {
    width: 100%;
    height: 33.3%;
}
.contents-body-skill2 {
    width: 100%;    
    height: 33.3%;
}
.contents-body-skill3 {
    width: 100%;
    height: 33.3%;
}



.contents-body-passive {
    width: 100%;
    height: 33.3%;
}

.contents-body-constel {
    width: 100%;
    height: 33.3%;
}

