    /* 본문 리스트 포토 영역 설정 */
    /* 본문 리스트 포토 영역 설정 */
    .contentsimg-photo {
        width: 180px;  
        height: 95%;

        margin: 3px;

        border-radius: 0px 40px 40px 0px;

        background-color: bisque;
        border: 1px solid black;
    }

    .contentsimg-image {
        width: 135px;
        height: 100%;

        margin-right: 30px;
    }

    @media ( min-width: 800px ) {
        .contentsimg-image {

        }
    }