.itemcontainer-body-outer > a {
    text-decoration: none;
    color: black;
}

/* 본문 리스트 영역 설정 */
/* 본문 리스트 영역 설정 */
.itemcontainer-body-content-list {
    width: 98%;  
    height: 150px;

    margin: 5px;

    border-radius: 10px;

    display: flex;

    border: 1px solid black;
}
    /* 본문 리스트 텍스트 영역 설정 */
    /* 본문 리스트 텍스트 영역 설정 */
    .itemcontainer-body-content-list-text {
        width: 70%;  
        height: 95%;

        margin: 3px;

        border-radius: 10px;

        font-family: 'GIfont';
        font-size: x-large;
        font-weight: bolder;

        /* border: 1px solid black; */
    }
    .itemcontainer-body-content-list-name {
        width: 100%;
        height: 100%;
        margin-top: 3px;
    }


