/* 로딩 화면 영역 설정 */
/* 로딩 화면 영역 설정 */
.loading-outer {
    width: 600px;
    height: 100vh;

    display: inline-flex;
    align-items: center;
    flex-direction: column;

    background-color: #FAC8C8;
    opacity: 0.9;
}
    /* 로딩 이미지 영역 설정 */
    /* 로딩 이미지 영역 설정 */
    .loading-imgdiv {
        width: 100%;
        height: 35%;

        margin-top: 400px;
    }
        /* 로딩 이미지 설정 */
        /* 로딩 이미지 설정 */
        .loading-img {
            width: 100%;
            height: 100%;

            animation: fadeUp 2s;
        }

    /* 로딩 문구 영역 설정 */
    /* 로딩 문구 영역 설정 */
    .loading-text {
        width: 100%;
        height: 50%;

        margin-top: 100px;

        font-family: 'GIfont';
        font-size: xx-large;
        font-weight: 700;
    }