/* 로딩 화면 영역 설정 */
/* 로딩 화면 영역 설정 */
.loading-outer {
    width: 600px;
    height: 100vh;

    display: inline-flex;
    align-items: center;
    flex-direction: column;

    background-image: url("../assets/Loading.png");
    background-size: 2400px 1400px;
    background-repeat: no-repeat;
    background-position: -900px -100px;
}

/* 로딩 문구 영역 설정 */
/* 로딩 문구 영역 설정 */
.loading-text {
    width: 100%;
    height: 50%;

    margin-top: 700px;

    color: white;
    font-family: 'GIfont';
    font-size: xx-large;
    font-weight: 500;

    animation: fadeUp 2s;
}