/* 여러 CSS에서 공통적으로 사용되는 부분들은 이곳에 기재. */
/* import "../style/css/Global.css"; */

/* 원신 폰트 설정 */
@font-face {
    font-family: 'GIfont';
    src: url('../assets/fonts/ja-jp.ttf') format('truetype');
}

/* 애니메이션 효과 */
/* 아래에서 위로 등장하는 fadeUp */
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 15%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}